#content
{
    padding-bottom: 30px;
}

.style1
{
    width: 100%;
    border-style: solid;
    border-width: 1px;
}
.row
{
    padding: 10px;
    background-color: #2A2A2A;
}
        
.odd
{
    background-color: #3A3A3A;
}
        
.abilityRowEven
{
    background-color: #2A2A2A;
}
        
.center
{
    text-align: center;
}
        
#pageContent_Items
{
    padding: 20px 10px;
}
        
.itemSelect
{
    width: 300px;
    height: 300px;
}