html
{
	margin: 0px;
	padding: 0px;
}

body
{
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: #24221F;
	font-family: sans-serif;

	background-image:url('../Backgrounds/skewed_print.png');
}

#pageWrapper
{
	margin: 0 auto;
	width: 900px;
}

#mainHeader
{
	background-color: #2A2A2A;
	height: 100px;
}

.logoContainer
{
	float: left;
	text-align: center;
	width: 300px;
	height: 100%;	
}

.logo
{
	margin-top: 10px;
}

.navigationContainer
{
	float: right;
	text-align: center;
	width: 600px;
	height: 100%;	
}

.nav ul
{
    margin-top: 40px;
	list-style-type: none;
}

.nav li
{
	display: inline;
	margin-right: 20px;
}

#content
{
	background-color: #1A1A1A;
}

h1
{
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	color: #EACE41;
	font-size: 24pt;
}

h2
{
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
	color: #EACE41;
	font-size: 16pt;
}

a
{
	color: white;
}

a:hover
{
	color: #EACE41;
}

a:visited
{
	color: white;
}

a:visited:hover
{
	color: #EACE41;
}

p
{
	margin: 0px;
	padding-bottom: 20px;
}

.clear
{
	clear: both;
}