#pageContent_portraitContainer
{
	float:left;
	
	padding-right:20px;
	padding-left:20px;
}

#pageContent_buildContainer
{
	float:left;
	width:200px;
	text-align:center;
	border:1px solid black;
	margin: 10px 20px;  
}
#pageContent_buildNameContainer
{
	background-color: #3A3A3A;
	height: 20px;
	padding: 5px;
}
#pageContent_buildUserNameContainer
{
	font-style: none;
	background-color: #2A2A2A;
	overflow: hidden;
	height: 30px;
	padding-top: 5px;
}

#pageContent_buildUserNameContainer a
{
    text-decoration: none;
}
#footer
{
        clear:both;
}
#pageContent_noBuildsContainer
{
    text-align:center;
}
#pageContent_redirectContainer
{
    text-align:center;
}