<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="connStr_LeagueOfLegends" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LeagueOfLegends.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<appSettings>
	<add key="localhost.LeagueOfLegendsWebService" value="http://localhost:49215/ASP_Final_Project/LeagueOfLegendsWebService.asmx"/>
	</appSettings></configuration>
